.bg-img{
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/architecture-building_YC9NVCLK9O.jpg");
    height: 400px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.img-fluid{
    width: 100%;
}

@font-face{
    font-family: "Charlie Perth";
    src: url("./font/CharliePerth.otf");
}

body,h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', sans-serif;
    /* font-family: "Charlie Perth";*/
} 