.bg-img{
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/architecture-building_YC9NVCLK9O.jpg");
    height: 400px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.img-fluid{
    width: 100%;
}